.toolbar-leave-active, .toolbar-enter-active {
  transition: transform 0.3s cubic-bezier(0.0, 0.0, 0.2, 1);
}
.toolbar-enter, .toolbar-leave-to {
  transform: translate3d(0, 100vh, 0);
}
.calculator-page {
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  //overflow: auto;
}

.btn-answer {
  font-size: 2.5rem!important;
  height: 100px!important;
  max-width: 100%;
  transition: background-color 0.5s;
}
.btn-bmi{
  font-size: 1.3rem!important;
  height: 50px!important;
  max-width: 100%;
  transition: background-color 0.5s;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar::-webkit-scrollbar {
  width: 5px;
}
.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #ff80ab;
  border-radius: 5px;
}
.theme--light .scrollbar::-webkit-scrollbar-track-piece  {
  background-color: #ffffff;
}
.theme--dark .scrollbar::-webkit-scrollbar-track-piece  {
  background-color: #1e1e1e;
}

.v-date-picker-years::-webkit-scrollbar {
  width: 5px;
}
.v-date-picker-years::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.v-date-picker-years::-webkit-scrollbar-thumb {
  background-color: #ff80ab;
  border-radius: 5px;
}
.theme--light .v-date-picker-years::-webkit-scrollbar-track-piece  {
  background-color: #ffffff;
}
.theme--dark .v-date-picker-years::-webkit-scrollbar-track-piece  {
  background-color: #424242;
}

.theme--dark, .theme--light{
  &.v-btn {
    &:focus, &:hover {
      &::before{
        opacity: 0;
      }
    }
  }
}
