<?xml version='1.0' encoding='utf-8'?>
<widget id="app.murgine.by" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Murgine</name>
    <description>
        Calculator for gynecologists
    </description>
    <author email="evgeniym96@gmail.com">
        Mitskevich Yauheni
    </author>
    <icon src="../src/assets/icon.png" />
    <hook src="../node_modules/vue-cli-plugin-cordova/serve-config-hook.js" type="after_prepare" />
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="electron">
        <preference name="ElectronSettingsFilePath" value="../src/settings/electron/settings.json" />
    </platform>
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="orientation" value="portrait" />
        <preference name="StatusBarBackgroundColor" value="#FF80AB" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="electron" />
</widget>
